packaging_format = 2

id = "omeka-s"
name = "Omeka S"
description.en = "Web publication system for universities, galleries, libraries, archives, and museums"
description.fr = "Système de publication Web pour les universités, les galeries, les bibliothèques, les archives et les musées"

version = "4.1.0~ynh3"

maintainers = ["eric_G"]

[upstream]
license = "AGPL-3.0-only"
website = "https://omeka.org/s/"
demo = "https://omeka.org/s/download/#sandbox"
userdoc = "https://omeka.org/s/docs/user-manual/"
code = "https://github.com/omeka/omeka-s"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true

ldap = false

sso = false

disk = "50M"
ram.build = "500M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/omeka"

    [install.init_main_permission]
    help.en = "With 'Visitors' permission, Omeka S will be accessible by people who do not have an account. This can be changed later via the webadmin."
    help.fr = "Avec la permission 'Visiteurs', Omeka S sera accessible aux personnes n’ayant pas de compte. Vous pourrez changer ceci plus tard via la webadmin."
    type = "group"
    default = "visitors"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/omeka/omeka-s/releases/download/v4.1.0/omeka-s-4.1.0.zip"
        sha256 = "bc0f87c07906c1aef1538b8cd1ab1ee9c3c3fe227ffea96b433a691fbd72d05f"
        autoupdate.strategy = "latest_github_tag"

        [resources.sources.csvimport]
        in_subdir = false
        url = "https://github.com/omeka-s-modules/CSVImport/releases/download/v2.6.1/CSVImport-2.6.1.zip"
        sha256 = "95aa91802ef497f6fb33e7bf1d129b041dc11ce1dc2eca4a6790a29becd592ad"
        autoupdate.strategy = "latest_github_tag"

        [resources.sources.scripto]
        in_subdir = false
        url = "https://github.com/omeka-s-modules/Scripto/releases/download/v1.4.1/Scripto-1.4.1.zip"
        sha256 = "61afa64f667cd89cd25ca6c7223073191a2222b0af0910108f456ffcb730a1d4"
        autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]
    
    [resources.permissions]
    main.url = "/"
    api.url = "/api"
    api.allowed = "visitors"
    api.auth_header = false
    api.show_tile = false

    [resources.apt]
    packages = "mariadb-server, imagemagick, php8.3-mysql, php8.3-gd, php8.3-mbstring, php8.3-xml, php8.3-imagick"

    [resources.database]
    type = "mysql"
